body{
    background: #F3F5FC;
}
.logo{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 120px;
    height: 48px;
}
.rectangulo{
    background: #FFFFFF;
    position: absolute;
    left: 1000px;
    top: 40px;
    border-radius: 2em;
    box-shadow: 10px 5px 5px lightgray;
    width: 350px;
    height: 550px;
}

.rectangulo:hover{
}
